DEFAULT_FILE_EXTENSION="js"
SOURCE_PATH="./src/"
ORIGIN_SASS_PATH="./cli/src/modules/react/examples/sass/"
ORIGIN_EXAMPLES_PATH="./cli/src/modules/react/examples/:EXTENSION:/"
ORIGIN_COMPONENT_PATH="./cli/src/modules/react/examples/:EXTENSION:/:COMPONENT_TYPE:/"
OUTPUT_COMPONENT_PATH="./src/:COMPONENT_TYPE:/"